.account-overlay {
    display: flex;
    align-items: stretch;
    background-color: @color-grey__20;
    height: 100%;

    @media @screen-md-max {
        flex-direction: column;
        height: auto;
        min-height: 100%;
    }

    &.___profile {
        min-height: 100%;
        height: auto;

        @media @screen-lg-max {
            flex-direction: column;
        }

    }
}

.account, .account-theme {
    padding: 6rem 8rem 4rem;

    @media @screen-lg-max {
        padding: 4rem 4rem 2rem;
    }

    @media @screen-md-max {
        padding: 4rem 8rem 4rem;
    }

    @media @screen-sm-max {
        padding: 4rem 4rem 2rem;
    }

    @media @screen-xs-max {
        padding: 3.2rem 2.4rem;
    }
}
.account--terms {
  font-size: 1.4rem;
  max-width: 60rem;
  color: @color-black__60;
}


.account {
    flex: 0 1 50%;
    max-width: 60rem;
    display: flex;
    order: 1;
    flex-direction: column;
    color: @color-black__60;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: @color-white;
    box-shadow: 0 0 24rem rgba(0,0,0,0.15);

    @media @screen-md-max {
        flex: 1 0 auto;
        max-width: none;
        min-height: 0;
        height: auto;
        order: 2;
    }
}

.account-theme {
    flex: 1 1 auto;
    order: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media @screen-md-max {
        flex: 0 0 50vw;
        order: 1;
    }
}


.account-overlay:not(.___profile) .account__top-bar {
    margin-bottom: 4rem;

    @media @screen-md-max {
        display: none;
    }
}


@media @screen-lg-max {
    .account-overlay.___profile #show_menu:checked + .account__top-bar {
        margin-bottom: 4rem;
    }
    .account-overlay.___profile #show_menu:not(:checked) ~ .account-menu__list {
        display: none;
    }
}
@media @screen-lg {
    .account-overlay.___profile .account__top-bar {
        margin-bottom: 4rem;
    }
}

.account__close {
    .icon(chevron-left);
    float: right;

    &:before {
        font-size: 0.6em;
        vertical-align: baseline;
        margin-right: 0.6em;
        color: @color-grey__50;
        transition: color @trans-fast;
    }

    &:hover:before {
        color: @color-grey;
    }

    @media @screen-sm-max {
        font-size: 1.6rem;
    }
}

.account__slider {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    width: 200%;
    transition: transform @trans-normal;

    .___register & {
        transform: translate(-50%,0);
    }

    @media @screen-sm {
        align-items: center;
    }
}

.account__content-container {
    width: 50%;
}

.account__content {

    fieldset:not(.loginview) {
        margin-top: 5rem;
    }
}

.account__content_width {
    width: 100%;
    max-width: max_content;
    margin: 0 auto;
    padding: 4rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);

    @media @screen-sm-max {
        padding: 4rem 0 2rem 0;
    }
}

.login__step-title {
    margin-bottom: 2.4rem;
    display: flex;

    div {
        flex: 1 1 auto;
    }

    .login__step-icon {
        width: 3.5rem;
        height: 3.5rem;
        display: none;

        @media @screen-md-max {
            display: block;
        }

    }


    h2 {
        color: @color-black__90;
    }
}

.forgot-password {
    margin-top: 0.75rem;
    display: block;
    text-align: right;
    color: @color-black__60;

    &:hover {
        color: @color-primary;
    }
}

.password__toggle {
    position: absolute;
    right: 0;
    top: 0.4rem;
    padding: 0.8rem 0.8rem 0.6rem;
    cursor: pointer;

    svg {
        fill: @color-grey__40;
        width: 2.4rem;
        height: 2.4rem;
        transition: fill @trans-fast;
    }

    &:hover svg {
        fill: @color-black__90;
    }
}

input[type=text] + .password__toggle svg {
    fill: @color-primary;
}

.login__buttons, .register__buttons {
    margin: 1.6rem 0 4rem 0;

    &.--small-margin {
      margin-bottom: 1.6rem;
    }
}

.login__check,
.register__check {
    line-height: 4rem;
}

.errorlist {
    color: @color-red;
}

.capslock {
    float: right;
    color: @color-red;
}

.message_success {
    color: @color-blue;
}

.account-menu, .account-right {
    padding: 4rem 0;

    @media @screen-lg-max {
        padding: 3.2rem 0;
    }
    @media @screen-xs-max {
        padding: 2.4rem 0;
    }
}

.account-menu {
    flex: 0 1 60%;
    max-width: 50rem;
    display: flex;
    order: 1;
    flex-direction: column;
    color: @color-black__60;
    min-height: 100%;
    overflow: hidden;
    background-color: @color-white;
    box-shadow: 0 0 24rem rgba(0,0,0,0.15);

    @media @screen-lg-max {
        flex: 0 0 auto;
        max-width: none;
        min-height: 0;
        order: 2;
    }
}

.account-menu__hamburger {
    width: 2.4rem;
    height: 2.4rem;
    float: right;
    padding: 1rem 0 0;
    display: none;
    cursor: pointer;

    @media @screen-lg-max {
        display: block;
    }

    svg {
        fill: @color-black__60;
        transition: fill @trans-fast;
    }
    &:hover svg {
        fill: @color-primary;
    }
}

.account-right {
    flex: 1 1 auto;
    order: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .account-right__content {
        max-width: 100rem;
        padding-top: 6rem;

        @media @screen-lg-max {
          padding-top: 0;
        }
    }

    @media @screen-sm-max {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
}


.account-menu .account__top-bar, .account-menu__list a {
    padding-left: 6rem;
    padding-right: 4rem;

    @media @screen-sm-max {
        padding-left: 3rem;
        padding-right: 2.4rem;
    }
}


.account-menu__list {

    li:not(:last-child){
        border-bottom: 0.1rem solid @color-grey__30;
    }

    li {
        display: block;
        position: relative;

        a {
            color: @color-black__60;
            display: flex;
            padding-top: 1.4rem;
            padding-bottom: 1.4rem;
            justify-content: center;
            align-items: center;
            transition: color @trans-fast, background @trans-fast;

            &:hover, &.current {
                color: @color-white;
                background-color: @color-primary;
            }

            div {
                flex: 1 1 auto;
            }

            &:hover .title, &.current .title {
                color: @color-white;
            }

            &:hover svg, &.current svg {
                fill: @color-white;
            }
        }

        svg {
            fill: @color-primary;
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 2rem;
            transition: fill @trans-fast;
        }


        .title {
            font-size: 1.8rem;
            color: @color-black__90;
            transition: color @trans-fast;
        }



    }
}

.account-user__pickavatar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1.2rem;

    .input-field {
        flex: 0 0 8rem;
        margin: 0;

        @media @screen-md-max {
          flex-basis: 6rem;
        }
    }
    .button {
        flex: 0 1 auto;
    }
    #id_avatar {
        position: absolute;
        z-index: -1;
    }
}

.account-menu__avatar, .account-user__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 5.6rem;
    height: 5.6rem;
    margin-left: 1.2rem;
    border: 0.1rem solid @color-primary;
}
.account-user__avatar {
    width: 8rem;
    height: 8rem;
    border-width: 0.2rem;
    display: block;
    margin-left: 0;
    background-color: @color-grey__20;

    @media @screen-md-max {
      width: 6rem; height: 6rem;
    }
}


.account__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem -1rem;

    @media @screen-sm-max {
        margin: 2rem 0;
    }
    .account__cards {
      margin: 0;
    }

    .card {
        border-bottom: 0.2rem solid @color-primary;
        margin-bottom: 2rem;
        max-height: none;
        flex: 0 1 40rem;

        &.___stretch { flex: 0 0 100%; }
    }

    .___fullspan { flex: 0 0 100%; }
}


.table {

    &.___stretch {
        width: 100%;
    }

    td, th {
        padding: 0;
        padding-right: 2.4rem;
    }

    td:last-child, .th:last-child {
        padding-right: 0;
        text-align: right;
    }

    th {
        color: @color-black__60;
        font-weight: normal;
    }

    tbody tr {
        border-bottom: 0.1rem solid @color-grey__30;
    }
}

.image__2fa {
    float: right;
    width: 10rem;
    height: 10rem;
    margin: -1rem 0 0 2.4rem;
    background: #dbe7f5;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 75%;

    }
    &.__enable .icon-lock { fill: @color-red; }
    &.__disable .icon-lock { fill: @color-green; }
}

.loginview {
  display: none;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-name: fadeInDown;

  &.___active { display: block; }
}
.loginview__email:not(.___active){ display: none; }
.loginview__saml .button,
.loginview__connect .button { font-size: 1.6rem; }


@-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-1.25rem); } 70% { opacity: 1; } 100% { -webkit-transform: translateY(0); } }
@keyframes fadeInDown { 0% { opacity: 0; transform: translateY(-1.25rem); } 70% { opacity: 1; } 100% { transform: translateY(0); } }
