{% load i18n %}
{% load Pleio_templatetags %}

<div class="account__cards">
        <div class="card ___nopadding">
            <h2 class="card__title ___addpadding-side">{% trans "Reset password" %}</h2>
            
            <form method="post" action="/securitypages/change-password/">
                <input type="hidden" name="page_action" value="ChangePassword" />
                    
                <div class="___addpadding-side">
                    {% csrf_token %} 
                    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
                    
                    <fieldset>
                        <ul class="messages error">
                            {% for error in pass_reset_form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        
                        <div class="input-field">
                            <label for="id_old_password">{% trans "Current Password" %}</label>
                            {{ pass_reset_form.errors.old_password }}
                            {{ pass_reset_form.old_password }}
                            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>            
                            <p class="capslock"></p>
                        </div>

                        <div class="input-field">
                            <label for="id_new_password1">{% trans "New Password" %}</label>
                            {{ pass_reset_form.errors.new_password1 }}
                            {{ pass_reset_form.new_password1 }}
                            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>            
                            <p class="capslock"></p>
                        </div>
                        
                        <div class="input-field">
                            <label for="id_new_password2">{% trans "New Password (again)" %}</label>
                            {{ pass_reset_form.errors.new_password2 }}
                            {{ pass_reset_form.new_password2 }}
                            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>
                            <p class="capslock"></p>
                        </div>
                        
                    </fieldset>
                </div>
        
                <div class="card__action ___addpadding-side">
                    <button name="change_password" type="submit" class="button ___active ___clear" value="submit">{% trans "Confirm" %}</button>
                </div>
            </form>
        </div>
    </div>