{% extends "emails/base.html" %}
{% load user_sessions i18n %}{% trans "<em>unknown on unknown</em>" as unknown_on_unknown %}{% trans "<em>unknown</em>" as unknown %}

{% block content %}
    <p>
        {% trans "Someone has logged in using your account at " %} {{ site.name }}
        <br>
        <br> {% trans "IP address" %}: {{ ip_address }}
        <br> {% trans "User" %}: {{ user }}
        <br> {% trans "User agent" %}: {{ user_agent|device|default_if_none:unknown_on_unknown|safe }}
        <br> {% trans "City" %}: {{ city }}
        <br> {% trans "Country" %}: {{ country }}
        <br>
        <br> {% trans "If it was you, please navigate to " %}
        <a href="http://{{ site.domain }}{% url 'accept_previous_login' acceptation_token %}">{% trans "this link" %}</a>
        <br>
        <br> {% trans "Or copy/paste this link into your browser" %}: http://{{ site.domain }}{% url 'accept_previous_login' acceptation_token %}
        <br>
        <br> {% trans "Otherwise you might want to change your password." %}
    </p>
{% endblock %}