{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
    {% csrf_token %} 
    <fieldset>
        {{ form.as_p }}
        <div class="login__buttons">
            <div>
                <button name="login" class="button ___stretch ___outline ___active login__login" type="submit">{% trans "Login" %}</button>
            </div>
            <div class="forgot-password">
                <a href="{% url 'auth_password_reset' %}">{% trans "Forgot password" %}</a>
            </div>
        </div>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="account__divider"><span>{% trans "or" %}</span></div>
    
<a href="{% url 'registration_register' %}"><div class="button ___stretch">{% trans "Register" %}</div></a>

{% endblock %}