{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load Pleio_templatetags %}
{% load settings_value %}
{% get_current_language as LANGUAGE_CODE %}
{% settings_value 'SITE_FAVICON' as SITE_FAVICON %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% settings_value 'SITE_TITLE' %}</title>
        <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
        <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <link rel="icon" href="{% static SITE_FAVICON %}">
        {% render_bundle "web" "css" %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    </head>
    <body>
        <div class="account-overlay ___profile">
            <div class="account-menu">
                <input type="checkbox" id="show_menu" />
                <div class="account__top-bar">
                    <label for="show_menu" class="account-menu__hamburger">{% include_asset "icons/hamburger.svg" %}</label>
                    {% settings_value 'SITE_LOGO' as site_logo %}
                    <a class="navigation__logo" title="{% trans "Back to the homepage" %}" href="https://www.pleio.nl/">{% include_asset site_logo %}</a>
                </div>
                
                <ul class="account-menu__list">
                    <li>
                        <a href="/profile/">
                            <div>
                                <h2 class="textcolor_primary">{% trans "Welcome" %}, {{request.user.name}}</h2>
                                {% trans "in your Pleio account" %}
                            </div>
                            {% if request.user.avatar %}
                            <img src="/media/{{ request.user.avatar }}" class="account-menu__avatar" />
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        {% if request.path == '/profile/' %}
                            <a href="{% url 'profile' %}" class="account-menu__list current">
                        {% else %}
                            <a href="{% url 'profile' %}">
                        {% endif %}
                            {% include_asset "icons/person.svg" %}
                            <div>
                                <span class="title">{% trans "Profiel" %}</span><br />
                                {% trans "Your details" %}, {% trans "Avatar" %}
                            </div>
                        </a>
                    </li>
                    <li>
                        {% if request.path >= '/securitypages/' %}
                            <a href="{% url 'security_pages' %}" class="account-menu__list current">
                        {% else %}
                            <a href="{% url 'security_pages' %}">
                        {% endif %}
                            {% include_asset "icons/security.svg" %}
                            <div>
                                <span class="title">{% trans "Security" %}</span><br />
                                {% trans "Password" %}, {% trans "Sessions" %}, {% trans "Two-factor authentication" %}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            {% include_asset "icons/lock-open.svg" %}
                            <div>
                                <span class="title">{% trans "Logout" %}</span><br />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="account-right">
                {% if request.COOKIES.partner_site_url %}
                    <a href={{ request.COOKIES.partner_site_url }} class="button ___white ___outline account__close">{{ request.COOKIES.partner_site_name }}</a>
                {% endif %}
             
                <div class="account-right__content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        {% render_bundle "vendor" "js" %}
        {% render_bundle "web" "js" %}
    </body>
</html>