{% extends "base.html" %}
{% load i18n %}

{% block content %}

<ul class="messages error">
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>


<form method="post" action=".">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.steps.current == 'auth' %}
        <p>Welkom op Pleio. Vul je gegevens in om in te loggen.</p>

        <fieldset>
            <div class="input-field">
                <label for="id_auth-username">{% trans "Email" %}</label>
                {{ form.errors.username }}
                {{ form.username }}
            </div>
            <div class="input-field">
                <label for="id_auth-password">{% trans "Password" %}</label>
                {{ form.errors.password }}
                {{ form.password }}
            </div>

            <div class="login__check">
                {{ form.errors.is_persistent }}
                {{ form.is_persistent }}
                <label for="id_auth-is_persistent">Onthoud me</label>
            </div>

            <div class="login__buttons">
                <button name="login" class="button ___stretch ___active login__login" type="submit">{% trans "Login" %}</button>

                <div class="forgot-password">
                    <ul>
                        <li><a href="{% url 'password_reset' %}">Wachtwoord vergeten</a></li>
                        <li><a href="{% url 'register' %}">Registeren</a></li>
                    </ul>
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="next" value="{{next}}" />
        <p></p>
    {% elif wizard.steps.current == 'token' %}

    <script type="text/javascript">
      window.onload = function() {
         {
          document.getElementById("id_token-otp_token").focus();
        }
      };
    </script>
    <p>Vul een twee-factor code in.</p>
        <div class="input-field">
            {{ form.errors.otp_token }}
            {{ form.otp_token.label_tag }}
            {{ form.otp_token }}
        </div>
        <button name="volgende" class="button ___stretch ___active login__login" type="submit">{% trans "Login" %}</button>
    {% elif wizard.steps.current == 'backup' %}
    <script type="text/javascript">
      window.onload = function() {
         {
          document.getElementById("id_backup-otp_token").focus();
        }
      };
    </script>
    <p>{% blocktrans %}Use this form for entering backup tokens for logging in.
         These tokens have been generated for you to print and keep safe. Please
             enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
        <div class="input-field">
            <label for="id_backup-otp_token">Token:</label>
            <input id="id_backup-otp_token" name="backup-otp_token" type="text">
            <button name="wizard_goto_step" type="submit" class="button ___stretch ___active">Gebruik backuptoken</button>
            <button name="wizard_goto_step" type="submit" value="auth" class="button ___stretch ___active">Terug</button>
        </div>

    {% endif %}
        {% if backup_tokens %}
      <p>{% trans "As a last resort, you can use a backup token:" %}</p>
        <div class="input-field">
            <button name="wizard_goto_step" type="submit" value="backup" class="button ___stretch ___active">Gebruik backuptoken</button>
            <button name="wizard_goto_step" type="submit" value="auth" class="button ___stretch ___active">Terug</button>
        </div>

    {% endif %}

</form>
{% endblock %}