{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load settings_value %}

{% block content %}

<form method="post" action=".">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}" />
    {% if login_step == 'login' %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <div class="login__step-title">
            <div>
                <h2>{% trans "Sign in" %}</h2>
                <p>{% trans "with your Pleio-account" %}</p>
            </div>
            <img src="/static/images/logo-icon.svg" class="login__step-icon"/>
        </div>
        
        <ul class="messages error">
                {% for error in form.non_field_errors %}
                <li>
                    {% include_asset "icons/account-alert.svg" %}
                    {% if error == 'captcha_mismatch' %}
                        <div class="textcolor_primary">{% trans "Login failed." %}</div>
                        <div class="textcolor_secondary">{% trans "Please check Google captcha." %}</div>
                    {% elif error == 'invalid_login' %}
                        <div class="textcolor_primary">{% trans "Please enter a correct email and password." %}</div>
                        <div class="textcolor_secondary">{% trans "Note that both fields may be case-sensitive." %}</div>
                    {% elif error == 'inactive' %}
                        <div class="textcolor_primary">{% trans "This account is inactive." %}</div>
                        <div class="textcolor_secondary">{% trans "Please check your email to validate your account." %}</div>
                    {% else %}
                        <div class="textcolor_primary">{% trans "Invalid login." %}</div>
                        <div class="textcolor_secondary">{{ error }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <fieldset>
            <div class="input-field">
                <label for="id_auth-username">{% trans "Email address" %}</label>
                {{ form.errors.username }}
                {{ form.username }}
            </div>
            <div class="input-field">
                <label for="id_auth-password">{% trans "Password" %}</label>
                {{ form.errors.password }}
                {{ form.password }}
                <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>
                <a href="{% url 'password_reset' %}" class="forgot-password">{% trans "Forgot password" %}?</a>
                <p class="capslock"></p>
            </div>

            {% settings_value 'GOOGLE_RECAPTCHA_SITE_KEY' as recaptcha_site_key %}
            {% if recaptcha_site_key and reCAPTCHA %}
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
            {% endif %}

            <div class="login__buttons">
                <button name="login" class="button ___stretch ___active login__login" type="submit">{% trans "Login" %}</button>
                <a href="{% url 'register' %}" class="button ___stretch ___white ___outline">{% trans "Register account" %}</a>
            </div>
        </fieldset>
        <p></p>
        
        <ul class="messages info">
            <li class="messages__link">
                <a href="{% url 'security_pages' page_action='2fa-setup' %}">
                    {% include_asset "icons/lock-plus.svg" %}
                    <div class="textcolor_primary">{% trans "Secure your account" %}</div>
                    <div class="textcolor_secondary">{% trans "Enable two factor authentication" %}</div>
                </a>
            </li>
        </ul>
    {% elif login_step == 'token' %}

    <script type="text/javascript">
      window.onload = function() {
         {
          document.getElementById("id_otp_token").focus();
        }
      };
    </script>

    
    <div class="login__step-title">
        <div>
            <h2>{% trans "Sign in" %}</h2>
            <p>{% trans "with your Pleio-account" %}</p>
        </div>
        <img src="/static/images/logo-icon.svg" class="login__step-icon"/>
    </div>

    <ul class="messages error">
            {% for error in form.errors %}
            <li>
                {% include_asset "icons/account-alert.svg" %}
                <div class="textcolor_primary">{% trans "Invalid token." %}</div>
                <div class="textcolor_secondary">{% trans "Please make sure you have entered it correctly." %}</div>
            </li>
        {% endfor %}
    </ul>

    <ul class="messages info">
        <li class="messages__link">
            {% include_asset "icons/lock-plus.svg" %}
            <div class="textcolor_primary">{% trans "Two factor authentication" %}</div>
            <div class="textcolor_secondary">{% trans "Fill in a code from your code generator." %}</div>
        </li>
    </ul>
    
    <fieldset>
        <div class="input-field">
            {{ form.errors.otp_token }}
            {{ form.otp_token.label_tag }}
            {{ form.otp_token }}
        </div>
        <div class="login__buttons">
            <button class="button ___stretch ___active login__login" type="submit">{% trans "Login" %}</button>
            <a href="{% url 'login' login_step='login' %}" class="button ___stretch ___white ___outline">{% trans "Cancel" %}</a>
        </div>
    </fieldset>

    <div class="input-field">
        <a href="{% url 'login' login_step='backup' %}" class="button ___stretch ___white ___outline">{% trans "Use backuptoken" %}</a>
    </div>

    {% elif login_step == 'backup' %}
    <script type="text/javascript">
      window.onload = function() {
         {
          document.getElementById("id_backup-otp_token").focus();
        }
      };
    </script>
    <p>{% blocktrans %}Use this form for entering backup tokens for logging in.
         These tokens have been generated for you to print and keep safe. Please
             enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
         <fieldset>

                <ul class="messages error">
                        {% for error in form.errors %}
                        <li>
                            {% include_asset "icons/account-alert.svg" %}
                            <div class="textcolor_primary">{% trans "Invalid token." %}</div>
                            <div class="textcolor_secondary">{% trans "Please make sure you have entered it correctly." %}</div>
                        </li>
                    {% endfor %}
                </ul>

            <div class="input-field">
                 <label for="id_otp_token">Token:</label>
                 <input id="id_otp_token" name="otp_token" type="text">
             </div>
         </fieldset>
        <div class="login__buttons">
            <button name="wizard_goto_step" type="submit" class="button ___stretch ___active">{% trans "Use backuptoken" %}</button>
            <a href="{% url 'login' login_step='token' %}" class="button ___stretch ___white ___outline">{% trans "Back" %}</a>
        </div>

    {% endif %}
    
</form>
{% endblock %}
