{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block content %}

<form method="post" action=".">
    {% csrf_token %} 
    <div class="login__step-title">
        <div>
            <h2>{% trans "Reset password" %}</h2>
            <p>{% trans "of your Pleio-account" %}</p>
        </div>
        <img src="/static/images/logo-icon.svg" class="login__step-icon"/>
    </div>
    
    <ul class="messages error">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    
    <fieldset>
        <div class="input-field">
            <label for="id_new_password1">{% trans "New Password" %}</label>
            {{ form.errors.new_password1 }}
            {{ form.new_password1 }}
            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>            
        </div>
    
        <div class="input-field">
            <label for="id_new_password2">{% trans "New Password (again)" %}</label>
            {{ form.errors.new_password2 }}
            {{ form.new_password2 }}
            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>
        </div>
    
        <div class="register__buttons">
            <button class="button ___stretch ___active" type="submit">{% trans "Confirm" %}</button>
        </div>
    </fieldset>
</form>

{% endblock %}