{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block content %}
<form method="post" action=".">
    {% csrf_token %} 
    
    <div class="login__step-title">
        <div>
            <h2>{% trans "Forgot password" %}</h2>
            <p>{% trans "of your Pleio-account" %}</p>
        </div>
        <img src="/static/images/logo-icon.svg" class="login__step-icon"/>
    </div>
    
    <ul class="messages error">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    
    <fieldset>
        <div class="input-field">
            <label for="{{ form.email.id_for_label }}">{% trans "Email address" %}</label>
            {{ form.errors.email }}
            {{ form.email }}
        </div>

        <div class="register__buttons">
            <button class="button ___stretch ___active" type="submit">{% trans "Reset password" %}</button>
            <a href="{% url 'login' %}" class="button ___stretch ___white ___outline"> {% trans "Login" %}</a>
        </div>

    </fieldset>
    
    <ul class="messages info">
        <li class="messages__link">
            <a href="mailto:support@pleio.org">
                {% include_asset "icons/help-outline.svg" %}
                <div class="textcolor_primary">{% trans "Need help?" %}</div>
                <div class="textcolor_secondary">{% trans "Email" %} support@pleio.org</div>
            </a>
        </li>
    </ul>
</form>

{% endblock %}