{% extends "base.html" %}
{% load i18n %}

{% block content %}

<ul class="messages error">
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>

<form method="post" action=".">
    {% csrf_token %} 
    <fieldset>
        <div class="forgot-password__description">
            <p>{% trans "Please fill in your e-mail address to request a new password. When the address is registered in our system you will receive an e-mail with a link to configure a new password." %}</p>

            <p>{% trans "If you have problems resettings your password please contact" %} <a href="mailto:support@pleio.org">support@pleio.org</a></p>
        </div>

        <div class="input-field">
            <label for="id_email">{% trans "Email" %}</label>
            {{ form.errors.email }}
            {{ form.email }}            
        </div>

        <div class="register__button">
            <button class="button ___stretch ___active" type="submit">{% trans "Request new password" %}</button>
        </div>

    </fieldset>
</form>

{% endblock %}