{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block page_title %}
{% trans "Email sent" %}
{% endblock %}

{% block content %}
    <div class="login__step-title">
        <div>
            <h1 class="ui large header">{% trans "Forgot password" %}</h1>

        </div>
        <!--<img src="/static/images/logo-icon.svg" class="login__step-icon"/>-->
    </div>

    <div class="messages correct ui positive message">
        <div class="messages__link content">
            <div class="textcolor_primary header">{% trans "Email sent" %}</div>
            <p class="textcolor_secondary">{% trans "When the address is registered in our system you will receive an e-mail with a link to configure a new password." %} </p>
        </div>
    </div>

    <div class="register__buttons">
        <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
    </div>
{% endblock %}
