{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block content %}
    <div class="login__step-title">
        <div>
            <h2>{% trans "Reset password" %}</h2>
            <p>{% trans "of your Pleio-account" %}</p>
        </div>
        <img src="/static/images/logo-icon.svg" class="login__step-icon"/>
    </div>
    
    <ul class="messages correct">
        <li class="messages__link">
            {% include_asset "icons/check.svg" %}
            <div class="textcolor_primary">{% trans "Password resetted" %}</div>
            <div class="textcolor_secondary">{% trans "You can now login with your new password." %} </div>
        </li>
    </ul>
    
    <div class="register__buttons">
        <a href="{% url 'login' %}" class="button ___stretch ___white ___outline"> {% trans "Login" %}</a>
    </div>
{% endblock %}
