{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block page_title %}
{% trans "Forgot password" %}
{% endblock %}

{% block content %}
<form method="post" action="." class="ui form">
    {% csrf_token %}

    <div class="login__step-title">
        <div>
            <h1 class="ui large header">{% trans "Forgot password" %}</h1>

        </div>
        <!--<img src="/static/images/logo-icon.svg" class="login__step-icon"/>-->
    </div>

    <ul class="messages error">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>

    <fieldset>
        <div class="field">
            <label for="{{ form.email.id_for_label }}">{% trans "Email address" %}</label>
            {{ form.errors.email }}
            {{ form.email }}
        </div>

        <div class="register__buttons">
            <button class="fluid ui button primary" type="submit">{% trans "Reset password" %}</button>
            <a href="{% url 'login' %}"> {% trans "Return to sign in" %}</a>
        </div>

    </fieldset>
    {% comment 'removing for now' %}
    <a href="mailto:support@pleio.org">
    <div class="messages info ui message">
        <div class="content">
                <div class="textcolor_primary header">{% trans "Need help?" %}</div>
                <p class="textcolor_secondary">{% trans "Email" %} support@pleio.org</p>

        </div>
    </div>
    </a>
    {% endcomment %}
</form>

{% endblock %}
