{% extends "base.html" %}
{% load i18n %}

{% block content %}

<ul class="messages error">
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>

<form method="post" action=".">
    {% csrf_token %} 
    <fieldset>
        <div class="forgot-password__description">
            <p>{% trans "Now please enter a new password for your account." %}</p>
        </div>

        <div class="input-field">
            <label for="id_new_password1">{% trans "Password" %}</label>
            {{ form.errors.new_password1 }}
            {{ form.new_password1 }}            
        </div>

        <div class="input-field">
            <label for="id_new_password2">{% trans "Password (again)" %}</label>
            {{ form.errors.new_password2 }}
            {{ form.new_password2 }}
        </div>

        <div class="register__button">
            <button class="button ___stretch ___active" type="submit">{% trans "Confirm" %}</button>
        </div>

    </fieldset>
</form>

{% endblock %}