{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block page_title %}
{% trans "Password reset" %}
{% endblock %}

{% block content %}
    <div class="login__step-title">
        <div>
            <h1>{% trans "Reset password" %}</h1>
        </div>
        <!--<img src="/static/images/logo-icon.svg" class="login__step-icon"/>-->
    </div>

    <div class="messages correct ui icon message">
        <div class="messages__link content">
            <div class="textcolor_primary header">{% trans "Password reset" %}</div>
            <p class="textcolor_secondary">{% trans "You can now login with your new password." %} </p>
        </div>
    </div>

    <div class="register__buttons">
        <a href="{% url 'login' %}"> {% trans "Return to sign in" %}</a>
    </div>
{% endblock %}
