{% extends "base_account.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block page_title %}{% trans "Account Settings" %}{% endblock %}

{% block page_header %}{% trans "Account Settings" %}{% endblock %}

{% block content %}
    <h2 class="ui header">{% trans "Profile" %}</h2>

    <form enctype="multipart/form-data" method="post" action="." class="ui form">
        <div class="account__cards ui cards">
            <div class="card ___nopadding ui card">
		<div class="content">
                {% csrf_token %}
                <h3 class="card__title ___addpadding-side header">{% trans "Your details" %}</h3>
                <fieldset class="___addpadding-side">
                    <div class="field">
                        <label for="id_name">{% trans "Name" %}</label>
                        {{ form.errors.name }}
                        {{ form.name }}
                    </div>
                    <div class="field">
                        <label for="id_email">{% trans "Email" %}</label>
                        {{ form.errors.email }}
                        {{ form.email }}
                        <!--<span class="badge green __uppercase ui label"><i class="icon">{% include_asset "icons/check.svg" %}</i>{% trans "Government" %}</span>-->
                    </div>
                </fieldset>
		</div>
                <div class="card__action ___addpadding-side extra content">
                    <button name="update" class="button ___clear ui button right floated primary" type="submit">{% trans "Save" %}</button>
                </div>

            </div>

            <div class="card ___nopadding ui card">
		<div class="content">
                <h3 class="card__title ___addpadding-side header">{% trans "Avatar" %}</h3>
                <div class="account-user__pickavatar ___addpadding-side">
                    <div class="input-field">
                        {% if request.user.avatar %}
                            <img src="/media/{{ request.user.avatar }}" border=0 class="account-user__avatar" alt="{% trans "Your custom avatar" %}">
                            <input id="avatar-clear_id" name="avatar-clear" type="checkbox">
                        {% else %}
                            <img src="/static/icons/person.svg" border=0 class="account-user__avatar" alt="{% trans "Default avatar" %}">
                        {% endif %}

                        {{ form.errors.avatar }}
                        <input id="id_avatar" name="avatar" type="file" accept=".jpg, .jpeg, .png" onchange="this.form.submit()">
                     </div>
                    <button class="button ui primary right floated" onClick="javascript:document.getElementById('id_avatar').click(); return false;">{% trans "Choose an avatar" %}</button>
                </div>
		</div>
		{% if request.user.avatar %}
                <div class="card__action ___addpadding-side extra content">
                    <button name="update" class="button ___clear ui button negative right floated" onClick="javascript:document.getElementById('avatar-clear_id').checked='true'; this.form.submit(); return false;">{% trans "Remove avatar" %}</button>
                </div>
		{% endif %}
		</div>
            </div>

        </div>
    </form>

{% endblock %}
