{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block page_title %}
{% trans "Registration complete" %}
{% endblock %}

{% block content %}
    <h1 class="ui large header">{% trans "Registration complete" %}</h1>
    <div class="message positive ui">
          <div class="content">
            <div class="textcolor_primary">{% trans "Verify your email address" %}</div>
            <div class="textcolor_secondary">{% trans "Open the link in the verification email to complete your registration." %} </div>
          </div>
    </div>

    <div class="register__buttons">
        <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
    </div>
{% endblock %}
