{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block page_title %}
{% trans "Activation error" %}
{% endblock %}

{% block content %}
    <h1 class="ui large header">{% trans "Activation error" %}</h1>
    <div class="messages ui error">
        <i class="icon" aria-hidden="true">{% include_asset "icons/account-alert.svg" %}<i>
        <div class="content">
            <div class="textcolor_primary">{% trans "We could not activate your account" %}</div>
            <div class="textcolor_secondary">{% trans "Your account may already be activated." %} </div>
        </div>
    </div>
    <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
{% endblock %}
