{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load settings_value %}
{% load app_customization %}

{% block page_title %}
{% trans "Register" %}
{% endblock %}

{% block content %}

<form method="post" action="." class="ui form">
    {% csrf_token %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <div class="login__step-title">
        <div>

            <h1 class="ui large header">{% trans "Register" %}<div class="sub header">{% trans "to create an account" %}</div></h1>

        </div>
        <!--<img src="/static/images/logo-icon.svg" class="login__step-icon"/>
-->    </div>


            {% for error in form.non_field_errors %}
	<div class="ui negative message">

            <div class="content">
                {% if error == 'captcha_mismatch' %}
                    <div class="textcolor_primary">{% trans "Login failed." %}</div>
                    <div class="textcolor_secondary">{% trans "Please check Google captcha." %}</div>
                {% else %}
                    <div class="textcolor_secondary">{{ error }}</div>
                {% endif %}
            </div>
    	</div>
        {% endfor %}


    <fieldset>
        <div class="field">
            <label for="id_name">{% trans "First and last name" %}</label>
            {{ form.errors.name }}
            {{ form.name }}
        </div>
        <div class="field">
            <label for="id_email">{% trans "Email" %}</label>
            <span id="error_email">{{ form.errors.email }}</span>
            {{ form.email }}
        </div>
        <div class="field">
            <label for="id_password1">{% trans "Password" %}</label>
            <span id="error_password1">{{ form.errors.password1 }}</span>
	    <div class="password_field">
            {{ form.password1 }}
            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>
            <p class="capslock" aria-live="assertive"></p>
	    </div>
        </div>
        <div class="field">
            <label for="id_password2">{% trans "Confirm password" %}</label>
            <span id="error_password2">{{ form.errors.password2 }}</span>
	    <div class="password_field">
            {{ form.password2 }}
            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>
            <p class="capslock" aria-live="assertive"></p>
	    </div>
        </div>

        <div class="register__checks field">
            <div class="register__check ui checkbox">
                {{ form.errors.accepted_terms }}
                {{ form.accepted_terms }}
                <label for="id_accepted_terms">{% trans "I agree with the "%}<a href="{% url 'terms_of_use' %}">{% trans " general terms"%}</a></label>
            </div>
            {% comment 'removing for now' %}
            <div class="register__check ui checkbox">
                {{ form.errors.receives_newsletter }}
                {{ form.receives_newsletter }}
                <label for="id_receives_newsletter">{% trans "Please subscribe me to the Pleio newsletter" %}</label>
            </div>
            {% endcomment %}
        </div>

        {% settings_value 'GOOGLE_RECAPTCHA_SITE_KEY' as recaptcha_site_key %}

        {% if recaptcha_site_key %}
            <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
        {% endif %}

        <div class="register__buttons">
            <button name="register" class="fluid ui button primary" type="submit">{% trans "Register" %}</button>
            <a href="{% url 'login' %}" >{% trans "Return to sign in" %}</a>
        </div>

    </fieldset>
</form>

{% endblock %}
