{% extends "saml_base.html" %}

{% block content %}
  {% if is_authenticated %}
      <table class="table table-striped">
        <thead>
          <th>Name</th><th>Values</th>
        </thead>
        <tbody>
          {% for key, values in attributes.items %}
            <tr><td>{{ key }}</td>
            <td><ul class="list-unstyled">
              {% for value in values %}
                <li>{{ value }}</li>
              {% endfor %}
            </ul></td></tr>
          {% endfor %}
        </tbody>
      </table>
    <a href="{% url 'saml' %}?slo&name_id={{ name_id}}&session_index={{ session_index }}" class="btn btn-danger">Logout</a>
  {% else %}
    <a href="{% url 'saml' %}?sso" class="btn btn-primary">Login</a>
  {% endif %}
{% endblock %}
