{% extends "base_account.html" %}
{% load user_sessions %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block content %}
<script type="text/javascript">
    window.onload = function() {
       {
        document.getElementById("id_old_password").focus();
        var state = "{{2FA.state}}";
        if ( state == "setup"  ) {        
            document.getElementById("id_token").focus();
            }
      }
    };
  </script>
<h2>{% trans "Security" %}</h2>

{% if messages %}
<ul class="messages correct">
    {% for message in messages %}
    <li>
        {% include_asset "icons/check.svg" %}
        {% if 'password' in message.tags %}
            <div class="textcolor_primary">{% trans "Password changed" %}</div>
            <div class="textcolor_secondary">{% trans "You can now login using your new password" %}</div>
        {% else %}
            <div class="textcolor_secondary">{{ message }}</div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}


<!-- Password reset -->
{% include 'security_pages/change_password.html' %}

<!-- Two factor authorization -->
{% include 'security_pages/two_factor_authorization.html' %}

<!-- User sessions -->
{% include 'security_pages/user_sessions.html' %}

{% endblock %}