{% extends "base_account.html" %}
{% load user_sessions %}
{% load i18n %}
{% load Pleio_templatetags %}

{% block content %}

<h2>{% trans "Security" %}</h2>

{% if messages %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <ul class="messages correct">
                <li>
                    {% include_asset "icons/check.svg" %}
                    <div class="textcolor_primary">{% trans 'Success' %}</div>
                    <div class="textcolor_secondary">{{ message }}</div>
                </li>
            </ul>
        {% elif 'error' in message.tags %}
            <ul class="messages error">
                <li>
                    {% include_asset "icons/account-alert.svg" %}
                    <div class="textcolor_primary">{% trans 'Error' %}</div>
                    <div class="textcolor_secondary">{{ message }}</div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}
{% endif %}


<!-- Password reset -->
{% include 'security_pages/change_password.html' %}

<!-- Two factor authorization -->
{% include 'security_pages/two_factor_authorization.html' %}

<!-- User sessions -->
{% include 'security_pages/user_sessions.html' %}

{% endblock %}