{% extends "base.html" %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load settings_value %}


{% block content %}

<form method="post" action=".">
    {% csrf_token %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    
    <div class="login__step-title">
        <div>
            <h2>{% trans "Welcome" %} {{ user.name }}</h2>
            <p>{% trans "Set the passsword for your new Pleio-account" %}</p>
        </div>
        <img src="/static/images/logo-icon.svg" class="login__step-icon"/>
    </div>
    
    <ul class="messages error">
            {% for error in form.non_field_errors %}
            <li>
                {% include_asset "icons/account-alert.svg" %}
                <div class="textcolor_primary">{% trans "Set password failed." %}</div>
                <div class="textcolor_secondary">{{ error }}</div>
            </li>
        {% endfor %}
    </ul>
    
    <fieldset>
        <div class="input-field">
            <label for="id_new_password1">{% trans "Password" %}</label>
            {{ form.errors.new_password1 }}
            {{ form.new_password1 }}
            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>
            <p class="capslock"></p>
        </div>
        <div class="input-field">
            <label for="id_new_password2">{% trans "Password (again)" %}</label>
            {{ form.errors.new_password2 }}
            {{ form.new_password2 }}
            <span class="password__toggle">{% include_asset "icons/eye.svg" %}</span>
            <p class="capslock"></p>
        </div>

        <div class="register__buttons">
            <button name="set_password" class="button ___stretch ___active" type="submit">{% trans "Set password" %}</button>
        </div>
        
    </fieldset>
</form>

{% endblock %}