{% extends "base_account.html" %}
{% load user_sessions %}
{% load i18n %}
{% load Pleio_templatetags %}
{% load settings_value %}

{% block content %}
<h2>{% trans "Connections" %}</h2>

{% if messages %}
<ul class="messages correct">
    {% for message in messages %}
    <li>
        {% include_asset "icons/check.svg" %}
        {% if 'password' in message.tags %}
            <div class="textcolor_primary">{% trans "Password changed" %}</div>
            <div class="textcolor_secondary">{% trans "You can now login using your new password" %}</div>
        {% else %}
            <div class="textcolor_secondary">{{ message }}</div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
   
    <div class="account__cards">
        <div class="card ___stretch ___nopadding">
            <h2 class="card__title ___addpadding-side">{% trans "Connections between your organisation(s) and " %}{% settings_value 'SITE_TITLE' %}{% trans " account" %}</h2>
            <fieldset class="___addpadding-side">

                <table class="table ___stretch">
                    <thead>
                        <tr>
                            <th>{% trans "Organisation" %}</th>
                            <th>{% trans "Email address" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for connection in connections %}
                        <tr>
                            <td>{{ connection.identityproviderid.displayname }}</td>
                            <td>{{ connection.externalid }}</td>
                            <td>
                                <form method="post" action="{% url 'saml_connection_delete' connection.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="button __stretch ___clear">{% trans "Disconnect" %}</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br />
        
            </fieldset>
            
        </div>
    </div>

{% endblock %}